@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

$green--dark: #2C9173;
$green--light: #77AA74;
$purple--dark: #824E6F;
$purple--light: #AD8896;

body {
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: none;
}

#image-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "story1"
    "story2";
  justify-content: center;
  /*width: 2108px;
    height: 1470px;*/
}

.story1 {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #824E6F 0%, #C16E70 99.99%, rgba(227, 186, 201, 0) 100%, #AD8896 100%);
}

.story2 {
  display: flex;
  flex-direction: row-reverse;
  background: linear-gradient(180deg, #2C9173 0%, #77AA74 99.99%, #77AA74 100%);
}